.face {
    width: 200px;
    height: 200px;
    background: #ffcccb;
    border-radius: 50%;
    position: relative;
    margin: 100px auto;
  }
  
  .eye {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 45%; /* más espacio arriba */
    transform: translate(-50%, -50%);
  }
  
  #eye-left {
    left: 35%;
  }
  
  #eye-right {
    left: 65%;
  }
  